# Ignore the entire artifacts folder and everything inside it
artifacts/
classificazione_rifiuti/

# Ignore all Jupyter Notebook files
*.md
*.csv
*.py
*.bz2


Mall_Customers.csv
cifar-10-batches-py/batches.meta
cifar-10-batches-py/data_batch_1
cifar-10-batches-py/data_batch_2
cifar-10-batches-py/data_batch_3
cifar-10-batches-py/data_batch_4
cifar-10-batches-py/data_batch_5
cifar-10-batches-py/readme.html
cifar-10-batches-py/test_batch
heart_disease_uci.csv
artifacts/housing_price_model.joblib
artifacts/housing_price_scaler.jobliby